/*标签选择器*/
@charset "utf-8";
html{
    width: 400px;
    height: 700px;
}

 body{
display: flex;
flex-direction: column;
} 

*{
    margin:0;
    padding:0;
}
.one{
    background-color: rgb(223, 223, 247);
}
p{
text-align: center;
}/*制作标题部分，控制标题*/

.header{
    font-size: 22px;
    padding-bottom: 15px;
    text-align:center;
    color: rgb(220, 236, 236);
    text-shadow: 0 0 10px rgb(224, 224, 232);
}

